html {
  scroll-behavior: smooth;
}

*{
    background: #080808;
    margin: 20px;
    padding: 0px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;    
}

nav img{
    max-width: 20rem;
    max-height: 10rem;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    font-family: cursive;
    transition: color 0.5s;
    
}

nav ul li a:hover {
    color: #b80254;
    opacity: 1px;

}

.para {
   
    margin-top: 10%;
    color: #fff;
    font-size: 30px;

}

.para h1{
    font-size: 60px;
     
}

.para h1 span{
    color: #b80254;
}

/* About section */
.para h4{
    margin-top: 3rem;
    font-size: 20px;
    font-family: cursive;
    font-weight:200;
}

.para h5{
  font-size: 20px;
  font-family: cursive;
  font-weight: 300;

}

.para h5 span{
  color: #b80254;
}

 .heading{
  font-family: cursive;
  margin-top: 10rem;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

.heading span{
  color: #b80254;

}

.projectsContainer{
  /* border: 5px solid #ffffff; */

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.box img{
  border-radius: 20px;
  border: 4px double #c9c9c9;
  margin: 8px;
  width: 645px;
  align-items: center;
  transition: transform 0.5s;
}

.box img:hover{
  transform: scale(1.1);
}